.card-body {
    padding: 1.5rem!important;
}

.form-check-input {
    margin-left: 0px!important;
}

.form-check-label {
    margin-left: 1.25rem!important;
}

.alert {
    position: absolute;
    width: 40vw;
    z-index: 1051;
    margin-left: 30vw;
    margin-top: 2rem;
}